#splash-screen {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#splash-screen > * {
    margin: 0px;
}
#disclaimer-popup {
    display: none;
}
#app-root {
    display: flex;
    flex-direction: column;
}
#app-body {
    display: flex;
    flex: 1;
}
#app-page-frame {
    position: relative;
    width: 100%;
    display: flex;
}
#app-menu-bar {
    display: flex;
    align-items: center;
    border-bottom: var(--border-muted);
    background: var(--control-bg);
}
#app-navigation {
    width: 25%;
    max-width: 350px;
    min-width: 250px;
    border-right: var(--border-muted);
    background: var(--control-bg);
    display: flex;
    flex-direction: column;
}
#navbar-settings-button {
    margin-top: auto;
}
#navbar-settings-button i {
    margin-right: 1rem;
    transition: var(--transition);
    transform: rotate(0deg);
}
#navbar-settings-button:hover > i {
    transform: rotate(45deg);
}
#app-page-name {
    margin-left: 3rem;
    font-weight: bold;
}
#nav-back, #nav-forwards {
    margin-left: var(--spacing);
}

.bazaar-flip-explorer-container, .bazaar-npc-flip-explorer-container {
    display: flex;
    flex-direction: column;
}
.bazaar-flip-explorer-grid, .bazaar-npc-flip-explorer-grid {
    flex: 1;
    position: relative;
    overflow: hidden;
    margin: var(--spacing);
}
.bazaar-flip-explorer-grid-controls, .bazaar-npc-flip-explorer-grid-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* bazaar flip explorer = bzfe */
.bzfe-cell-top {
    flex: 1;
}
.bzfe-cell-top h3 {
    margin-bottom: var(--spacing);
}
.bzfe-cell-bottom {
    padding: var(--spacing);
}
.bzfe-cell-bottom p {
    margin: 0px;
    font-size: 0.9rem;
}
.settings-page input, .settings-page select {
    min-width: 15rem;
}

.page-nav-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-nav-button {
    padding: var(--spacing-lg);
    min-width: 12rem;
}